html{
    height: 100%;
    overflow: hidden;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 1px;
}

h1{
    text-align: center;
    font-size: 7.5em;
    color: #000040;
    text-shadow: 0 2px 2px #000;
    font-family: Arial;
}

#secao1{
    background-image:url(https://i.imgur.com/xh1R7Ej.jpg);
    background-size: cover;
    z-index: -1;
    
}

#secao2{
      background-image: url(https://i.imgur.com/177wydB.jpg);
    transform: translateZ(-1px) scale(2);
    z-index: -2;
}

#secao3{
    background-color: #fff;    
    
}

.slide {
    position: relative;
    padding: 10% 10%;
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 -1px 5px rgba(0, 0, .7);
    transform-style: inherit;
}

.menu{
	width: 100%;
	height: 50px;
	background-color: #fff;
	font-family: 'Arial';
	font-size: 1.05em;
	font-weight: bold;
	box-shadow: #9f9fff.5px 2px 1.5px;
    z-index: auto;
    
    
}
.menu ul{
	list-style: none;
	position: relative;
	
}

.menu ul li{
	width: 150px;
	float: left;
}

.menu a{
	padding: 15px;
	display: block;
	text-decoration: none;
	text-align: center;
	background-color: #ffff;
	color: #000040;
	
}


.menu ul ul{
	
	position: fixed;
	visibility: hidden;
    margin: 0;
    padding: 0;
    
    
    
}

.menu ul li:hover ul{
	visibility: visible;
	
}

.menu a:hover{
   	border-bottom: 2px solid #0f0587;
    color: #000;
}

.menu ul ul li{
	float: none;
	border-bottom: solid 1px #ccc;
    padding: 0;
    
}

#sair {
    float: right;
   
}

#bt-sair{
margin: 0;}

.rodape{
	
	color:000040;
	font-size: 1.1em;
	text-align: center;
}

.nome{
	font-family: Arial;
	font-size: 0.8em;
	
}

.cpf{
	font-family: Arial;
	font-size: 0.8em;
}
.cnpj{
	font-family: Arial;
	font-size: 0.8em;
}
.logorodape{
	background-image:url(https://i.imgur.com/x3uvDq9.jpg);
}

