*{
	margin:0;
	padding: 0;
}

body, html{
	min-height: 100%;
}

body{
	background-image: linear-gradient(#436EEE, #3A5FCD); 
	background-repeat: no-repeat;
	background-size: cover; 

}


.menu{
	width: 100%;
	height: 50px;
	background-color: #fff;
	font-family: 'Arial';
	font-size: 1.05em;
	font-weight: bold;
	box-shadow: #27408B 1.5px 2px 1.5px;
}
.menu ul{
	list-style: none;
	position: relative;
}

.menu ul li{
	width: 150px;
	float: left;
}

.menu a{
	padding: 15px;
	display: block;
	text-decoration: none;
	text-align: center;
	background-color: #ffff;
	color: #436EEE;
}


.menu ul ul{
	position: fixed;
	visibility: hidden;
}

.menu ul li:hover ul{
	visibility: visible;
}

.menu a:hover{
	background-color: #4876FF;
	color: #fff; 
}

.menu ul ul li{
	float: none;
	border-bottom: solid 1px #ccc;
}





@media(max-width: 800px){
	body{
	background-image: linear-gradient(#27408B, #3A5FCD, #436EEE); 
	background-size: cover; 

}
	
	#bt_menu:checked ~ .menu{
		margin-left: 0;

	}
	.menu{
		margin-top: 5px;
		font-family: Graphik,'Gotham SSm A','Gotham SSm B','Helvetica Neue';
		transition: all .4s;
	}
	.menu ul li{
		width: 100%;
		float: none;

	}

	.menu ul ul{
		position: static;
		overflow: hidden;
		max-height: 0;
		transition: all .4s;
	}

	.menu ul li:hover ul{
		height: auto;
		max-height: 100px; 
	}
}

#nomeMenu{
	background-color: #FFFFFF;
	text-color: #FFFFFF;
}

p{
	color:#f0f0f0;
	text-align: center;

}

.area{
	width: 100%;
	max-width: 1170px;
	padding: 80px;
	color: #000000;
	text-shadow: 1px 1px 0 rgba(0,0,0..2);
	text-align: center;

}
	
.rodape p{
	background-color: #436EEE;
	color:white;
	font-size: 25px;
	margin-top: 400px;
	text-align: center;
}
