body {
	margin: 0;
	color: white;
	text-align: center;
}

input {
	border-radius: 10px;
}

.logo {
	width: 20%;
	margin: 10px;
}

.text {
	font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
	color: rgb(50, 37, 109);
	font-style: italic;
}

button {
	color: antiquewhite;
	margin: 5%;
	padding: 15px;
	width: 93%;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(rgb(82, 82, 223), rgb(50, 37, 109));
	border-radius: 8%;
	border: 2px groove blue;
}

.container {
	background-image: linear-gradient(rgb(82, 82, 223), rgb(50, 37, 109));
}

.container>div {
	margin: 6px;
	text-align: center;
	align-items: center;
	line-height: 55px;
	font-size: 20px;
}

.formlogin {
	display: flex;
	flex-direction: column;
	padding: 10%;
}

.formlogin>form {
	color: black;
	display: flex;
	flex-direction: column;
	padding: 10%;
	background-color: white;
	margin: 6px;
	text-align: center;
	line-height: 55px;
	font-size: 20px;
	border-radius: 10px;
}