<!DOCTYPE html>
<html>
<head>
<title>Cadastro Cliente</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="style/style.css">


<script>
function verifica(value){
	var input = document.getElementById("cpf");
	var input2 = document.getElementById("cnpj");
	
	if(value==1){
		input.disabled=false;
		input2.disabled=true;
	}else{
		input.disabled=true;
		input2.disabled=false;
	}
}
</script>
</head>
<body onload="verifica(1)">

	<form class="Cadastrar" method="post">
		<div id="addUser">

			<p>
				<label>Nome:</label> <input type="text" name="nome"
					placeholder="Nome Completo">
			</p>
			<p>
				<label>Email:</label> <input type="email" name="email"
					placeholder="Informe o e-mail" />
			<p>
				<label>Data de Nascimento:</label> <input type="date" name="data"></br>
			</p>
			<label for="tipo">Tipo:</label>
			 <select name="tipo" onchange="verifica(this.value)"  >
				<option value="1" selected>Fisica</option>
				<option value="2">Juridica</option>
			</select>

			<p>
				<label>CPF: </label> <input type="text" id="cpf" name="cpf"
					placeholder="Informe seu cpf" />
			</p>
			<p>
				<label>CNPJ: </label> <input type="text" id="cnpj" name="cnpj"
					placeholder="Informe seu CNPJ" />
			</p>
			
			<p>
				<label>Telefone: </label> <input type="text" name="telefone"
					placeholder="Informe seu telefone" />
			</p>
			<p>
				<label>Senha:</label> <input type="text" name="senha"
					placeholder="Informe a senha desejada" />
			</p>

			<p>
				<label>Logradouro:</label> <input type="text" name="logradouro"
					placeholder="Rua"></br>
			</p>
			<p>
				<label>Cidade:</label> <input type="text" name="cidade"
					placeholder="cidade"> <label>Estado:</label> <input
					id="estado" type="text" name="estado">
			</p>
			<p>
				<label>CEP:</label> <input type="text" name="cep" placeholder="cep">
			</p>
			<p>
				<label>Complemento:</label> <input type="text" name="complemento"
					placeholder="complemento">
			</p>
			<p>
				<label>Numero:</label> <input type="text" name="numero"
					placeholder="Número"></br>
			</p>

			<button type="submit">Cadastrar Cliente</button>

		</div>




	</form>


</body>
</html>