<!DOCTYPE html>
<html>
<head>
<title>Cadastro Cliente</title>

<link rel="stylesheet" type="text/css" href="style/style.css">
</head>
<body>

	<form class="Cadastrar" method="post">
		<div id="addUser">

			<p>
				<label>Nome:</label> <input type="text" name="nome"
					placeholder="Nome Completo">
			</p>
			<p>
				<label>Email:</label> <input type="email" name="email"/>

			<p>
				<label>Data de Nascimento:</label> <input type="date"
					name="data"></br>
			</p>
				<p>
				<label>Tipo:</label> <input type="text" name="tipo"
					placeholder="Fisica / Juridica">
			</p>
			<p>
				<label>CPF: </label> <input type="text" name="cpf"
					placeholder="Informe seu cpf" />
			</p>
			<p>
				<label>Telefone: </label> <input type="text" name="telefone"
					placeholder="Informe seu telefone" />
			</p>
			<p>
				<label>Senha:</label> <input type="text" name="senha"
					placeholder="Informe a senha desejada" />
			</p>
			
			<!--  
			<p>
				<label>Rua:</label> <input type="text" name="streetUser"
					placeholder="Rua"></br>
			</p>
			<p>
				<label>Estado:</label> <input type="text" name="addressUser"
					placeholder="Estado">
			</p>
			<p>
				<label>Numero:</label> <input type="text" name="numberAddressUser"
					placeholder="Numero do Estabelecimento"></br>
			</p>
		
			<p>
				<label>Salario Bruto: </label> <input type="text"
					name="salarioBruto" placeholder="Informe seu salário bruto" />
			</p>
			<p>
				<label> Salario Liquido: </label> <input type="text"
					name="salarioLiquido" placeholder="Informe seu salário liquido" />
			</p>
			<p>
				<label>Saldo: </label> <input type="text" name="saldo"
					placeholder="Informe seu saldo" />
			</p>
			<p>
				<label>Data de Abertura: </label> <input type="date"
					name="dataAbertura" placeholder="Informe a data de abertura" />
			</p>
			-->

			<button type="submit">Cadastrar Cliente</button>

		</div>
		



	</form>


</body>
</html>