<!DOCTYPE html>
<html>
<head>
	<title>Sucess</title>
	<!--<link rel="stylesheet" type="text/css" href="style/style.css">-->
</head>
<body>
	
	<h2>Cadastrado com Sucesso !</h2>
	  <form method="post">
	  
		<h2>Cadastro da Conta</h2>
		<p>
			<label th:if="${not #strings.isEmpty(cpf)}">CPF: </label>
			<input th:if="${not #strings.isEmpty(cpf)}"type="text" name="cpf" th:value="${cpf}" readonly="true" />
		</p>
		<p>
			<label  th:if="${not #strings.isEmpty(cnpj)}">CNPJ: </label>
			<input  th:if="${not #strings.isEmpty(cnpj)}" type="text" name="cpf" th:value="${cnpj}" readonly="true" />
		</p>
		<p>
			<label>Salario Bruto: </label>
			<input type="text" name="salarioBruto" placeholder="Informe seu salário bruto" required="required"/>
		</p>
		<p>
			<label> Salario Liquido: </label>
			<input type="text" name="salarioLiquido" placeholder="Informe seu salário liquido" required="required"/>
		</p>
		<p>
			<label>Saldo: </label>
			<input type="text" name="saldo" placeholder="Informe seu saldo" required="required"/>
		</p>
		<p>
			<label>Data de Abertura: </label>
			<input type="date" name="dataDeAbertura" placeholder="Informe a data de abertura" required="required"/>
		</p>
		<button type="submit">Cadastrar</button>
	</form>


</body>

</html>