<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css"
	href="style/formatacaoPaginas.css">
<title>SISTEMA DE BANCO - HOME</title>
</head>
<body>
<head>

<nav class="menu">
	<ul>
		<li><a href="/home">Home</a></li>
		<li><a href="#">opções</a>
			<ul>
				<li><a href="consultaSaldo">Saldo</a></li>
				<li><a href="#">Transações</a></li>
			</ul>

		</li>
	</ul>
</head>

<body>

		
	<p><span th:text="${conta.saldo}"></span></p>

</body>
<footer>
	<div class="rodape">
		<p>Copyright||&copy;</p>
	</div>
</footer>
</body>
</html>