<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>A melhor Solução</title>


<script type="text/javascript" >
    
	function valor(parcelas) {
		var valor= document.getElementById("valorContratado").value;
		var juros="[[${juros}]]";
		
		var resultado=  valor*juros+valor;
		
	 document.getElementById("valorCampo").value=resultado;

	}

	
</script>


</head>
<body>
	<h1>Temos a solução certa para você</h1>


	<form method="post">

		<label> Saldo: </label> <span th:text="${conta.saldo}"></span> 
		<label>Valor: disponivel para contratação</label> 
			<span th:text="${disponivel}"></span>
			<label>Qual	valor deseja contratar</label>
			 <input type="number" min=0	name="valorContratado" id="valorContratado" th:max="${disponivel}" />
			 <label for="opcao">Quantidade de parcelas: </label>
			 
		<select name="opcao" onchange="valor(this.value)">
			<option value="12">12x</option>
			<option value="24">24x</option>
			<option value="36">36x</option>
		</select>
		
		
		<label> Valor das parcelas: </label>
		<input type="text" id="valorCampo" name="valorCampo" readonly="true"/>

		<button type="submit">Contratar</button>
	</form>




</body>
</html>