<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="cadastro/style/formatacaoPaginas.css">

<title>Quem somos</title>
</head>
<body>

<header>


<nav class="navHeader">
	<a href="">Home</a> 
	<a href="">Login</a>
    <a href="">Quem Somos</a>    
</nav>

	<div>
		<h2>Quem Somos</h2>
	</div>
</header>



<p>Uma start-up de imprestimo financeiro, visando o melhor para o
	cliente, com taxas acessíveis</p>
	
<footer>

<div class="rodape">
<p>	Copyright||&copy;</p>

</div>

</footer>
</body>
</html>