<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="style/formatacaoPaginas.css">
<title>SISTEMA DE BANCO - HOME</title>


<nav class="menu">
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">opções</a>
			<ul>
				<li><a href="consultaSaldo">Saldo</a></li>
				<li><a href="#">Transações</a></li>
				<li><a href="emprestimo">Emprestimo</a></li>
			</ul></li>
		<li>NOME - <span th:text="${usuario.nome}"></span></li>
		
		<li th:if="${not #strings.isEmpty(usuario.cpf)}">CPF - <span th:text="${usuario.cpf}"></span></li>
		<li th:if="${not #strings.isEmpty(usuario.cnpj)}">CNPJ - <span th:text="${usuario.cnpj}"></span></li>




	</ul>
	
	<div id="sair">
        <ul id="bt-sair">
            <li><a href="/">Sair</a></li>
        </ul>
    </div>
</nav>
</head>
	
<body>
    <section id="secao1" class="slide">
        <h1>O-Bank</h1>
    </section>
    
    <section id="secao2" class="slide">
        
    </section>
    
    <footer id="secao3" class="slide">
        
		<p>	Copyright||&copy;</p>
	
    </footer>
</body>
</html>