<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="style/formatacaoPaginas.css">
<title>SISTEMA DE BANCO - HOME</title>


<nav class="menu">
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">Minha conta</a>
			<ul>
				<li><a href="consultaSaldo">Saldo</a></li>
				<li><a href="#">Transações</a></li>
				<li><a href="emprestimo">Emprestimo</a></li>
			</ul></li>
		<li class="nome">Olá, <span th:text="${usuario.nome}"></span></li>
		
		<li class="cpf" th:if="${not #strings.isEmpty(usuario.cpf)}">CPF - <span th:text="${usuario.cpf}"></span></li>
		<li class="cnpj"th:if="${not #strings.isEmpty(usuario.cnpj)}">CNPJ - <span th:text="${usuario.cnpj}"></span></li>




	</ul>
	
	<div id="sair">
        <ul id="bt-sair">
            <li><a href="/">Sair</a></li>
        </ul>
    </div>
</nav>
</head>
	
<body>
    <section id="secao1" class="slide">
 
    </section>
    
    <section id="secao2" class="slide">
        
    </section>
    
    <footer id="secao3" class="slide">
        <div id="logorodape">
        <p class="rodape">	Torre III, Av. Guido Caloi, 1002 - Jardim São Luís, São Paulo - SP, 05802-140</p>
        </div>
		
	
    </footer>
</body>
</html>