<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css"
	href="style/formatacaoPaginas.css">
<title>SISTEMA DE BANCO - HOME</title>
</head>
<body>
<head>

<nav class="menu">
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">opções</a>
			<ul>
				<li><a href="consultaSaldo">Saldo</a></li>
				<li><a href="#">Transações</a></li>
			</ul></li>
		<li>NOME - <span th:text="${usuario.nome}"></span></li>
		
		<li th:if="${not #strings.isEmpty(usuario.cpf)}">CPF - <span th:text="${usuario.cpf}"></span></li>
		<li th:if="${not #strings.isEmpty(usuario.cnpj)}">CNPJ - <span th:text="${usuario.cnpj}"></span></li>




	</ul>
</head>

<body>




	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque</br>
		molestie purus sit amet arcu lobortis dignissim. Aenean hendrerit</br>
		pellentesque purus id maximus. Mauris eleifend orci sed nisl</br>
		facilisis, nec pellentesque dui congue. Mauris in turpis at velit</br>
		auctor lacinia. Nulla condimentum blandit lectus, at ornare nisl</br>
		cursus sed. Cras quam turpis, vulputate quis leo sit amet, placerat</br>
		consequat diam.

	</p>

</body>
<footer>
	<div class="rodape">
		<p>Copyright||&copy;</p>
	</div>
</footer>
</body>
</html>