<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Home | O-Bank</title>
<link rel="stylesheet" href="css/index-style.css">
</head>

<body>
	<header>
		<nav class="menu">
			<a href="#"><img src="img/indra.png" class="logoindra"></a>
			<ul>
				<li><a href="">Sobre</a></li>
				<li><a href="login">Login</a></li>
			</ul>
		</nav>
	</header>


	<div class="container">
		<div class="banner">
			<h1>O-Bank</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Mauris imperdiet lectus eu malesuada pharetra. Donec ut erat nec
				elit facilisis malesuada non non turpis. Vestibulum aliquet
				vulputate nunc vitae varius. Aliquam velit ligula, feugiat quis elit
				quis, semper rutrum lectus. Quisque vel mauris tortor. Duis non diam
				vitae mauris vehicula sodales. Ut faucibus ligula ex, sed bibendum
				libero hendrerit et. Nullam sit amet nisl ac tortor condimentum
				consequat quis non nibh. Phasellus commodo id tortor non hendrerit.
				Nulla accumsan tincidunt turpis at venenatis. Nunc imperdiet nisi
				non odio egestas tempor. Morbi mattis dolor laoreet efficitur
				molestie. Phasellus nec risus metus. Morbi erat quam, facilisis id
				dignissim eu, faucibus at urna. Maecenas imperdiet lorem quis
				ullamcorper euismod. Nullam eget fringilla mauris, eget ultrices
				nibh. Pellentesque tincidunt libero velit, et tincidunt diam
				faucibus vel. Nam finibus a massa eu dictum. Morbi eu ex ac lectus
				malesuada tincidunt. Pellentesque hendrerit congue mauris, ut porta
				elit tempor vitae. Curabitur purus arcu, tristique ut orci vitae,
				faucibus rhoncus dui. Nulla in consectetur ipsum. Mauris ac arcu
				sollicitudin, pretium tellus eget, dapibus odio. Aenean erat orci,
				sodales eu elementum a, semper a libero. Pellentesque pellentesque
				vestibulum est et varius.</p>
		</div>

		<div class="banner">
			<h1>Informações</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Mauris imperdiet lectus eu malesuada pharetra. Donec ut erat nec
				elit facilisis malesuada non non turpis. Vestibulum aliquet
				vulputate nunc vitae varius. Aliquam velit ligula, feugiat quis elit
				quis, semper rutrum lectus. Quisque vel mauris tortor. Duis non diam
				vitae mauris vehicula sodales. Ut faucibus ligula ex, sed bibendum
				libero hendrerit et. Nullam sit amet nisl ac tortor condimentum
				consequat quis non nibh. Phasellus commodo id tortor non hendrerit.
				Nulla accumsan tincidunt turpis at venenatis. Nunc imperdiet nisi
				non odio egestas tempor. Morbi mattis dolor laoreet efficitur
				molestie. Phasellus nec risus metus. Morbi erat quam, facilisis id
				dignissim eu, faucibus at urna. Maecenas imperdiet lorem quis
				ullamcorper euismod. Nullam eget fringilla mauris, eget ultrices
				nibh. Pellentesque tincidunt libero velit, et tincidunt diam
				faucibus vel. Nam finibus a massa eu dictum. Morbi eu ex ac lectus
				malesuada tincidunt. Pellentesque hendrerit congue mauris, ut porta
				elit tempor vitae. Curabitur purus arcu, tristique ut orci vitae,
				faucibus rhoncus dui. Nulla in consectetur ipsum. Mauris ac arcu
				sollicitudin, pretium tellus eget, dapibus odio. Aenean erat orci,
				sodales eu elementum a, semper a libero. Pellentesque pellentesque
				vestibulum est et varius.</p>
		</div>
	</div>
	<div id="linha"></div>

	<div class="container">
		<div class="banner">
			<p>Indra© 2019</p>
		</div>
</body>

</html>