<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style/style.css">
</head>
<body>

	<form action="" class="Cadastrar" type="container">
		<div id="addUser">
			<div>
				<label>Nome:</label> <input type="text" name="nameUser"
					placeholder="Nome Completo">
			</div>
			<div>
				<label>Email:</label> <input type="email" name="emailUser"
					placeholder="Email">
			</div>

			<div>
				<label>Data de Nascimento:</label> <input type="Date"
					name="dateNascUsuario"></br>
			</div>
			<div>
				<label>Rua:</label> <input type="text" name="streetUser"
					placeholder="Rua"></br>
			</div>
			<div>
				<label>Estado:</label> <input type="text" name="addressUser"
					placeholder="Estado"></br>
			</div>
			<div>
				<label>Numero:</label> <input type="text" name="numberAddressUser"
					placeholder="Numero do Estabelecimento"></br>
			</div>
			<div>
				<label>Tipo:</label> <input type="text" name="typeUser"
					placeholder="Fisica / Juridica">
			</div>

		</div>
		<button type="submit" name="addUser">Cadastrar</button>
	</form>

	

	
<title>O-BANK</title>
</head>
<body>

<header>


<nav class="navHeader">
	<a href="/login">Login</a>
    <a href="">Quem Somos</a>    
</nav>

	<div>
		<h2>Bem vindo</h2>
	</div>
</header>
<article>
<p>O O-Bank é a melhor opção para você que gostaria de fazer um emprestimo financeiro.</p>
</article>

<footer>

<div class="rodape">
<p>	Copyright||&copy;</p>

</div>

</footer>


</body>
</html>