<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="style/style.css">
</head>
<body>

	
<title>O-BANK</title>
</head>
<body>

<header>


<nav class="navHeader">
	<a href="/login">Login</a>
    <a href="">Quem Somos</a>    
</nav>

	<div>
		<h2>Bem vindo</h2>
	</div>
</header>
<article>
<p>O O-Bank é a melhor opção para você que gostaria de fazer um emprestimo financeiro.</p>
</article>

<footer>

<div class="rodape">
<p>	Copyright||&copy;</p>

</div>

</footer>


</body>
</html>