<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="css/login-style.css">
</head>

<body>
    
    <div class="container">
        <img src="img/Indra.svg.png" alt="" class="logo">
        <div class="formlogin">
            <form action="">
                <label for="">Usuario</label>
                <input type="text" name="usuario" id="" alt="login" checked="checked">

                <label for="">Senha</label>
                <input type="password" name="" id="">

                <button type="submit">Confirmar</button>
                <a href="" onclick="" class="text">Esqueci a senha ></a>
                <a href="" onclick="" class="text">Cadastre-se</a>
            </form>
        </div>

       
    </div>
</body>

</html>