body{
	margin: 0;
	padding: 0;
}

form{
	font-size: 16px;
	background: #cfcfcf;
	max-width: 700px;
	margin: 10px auto;
	padding: 10px 10px 10px 10px;
}

h2{
	color: #ffffff;
}

p{
	margin:auto;
	padding: auto;
}

input{
	width: 400px;
	padding: 4px;
}

button{

	background: #069;
	height: 30px;
	width: 150px;
	font-weight: bold;
	border-radius: 5px;
	border: 1px solid;
	color: #fff;
	cursor: pointer; 
}

